extends layout

block content
  #banner.page-header
    .row.pt-5
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            h1 #{title}
    .row.mt-5
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            p.about   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex voluptatum voluptates, voluptas expedita harum quam fugiat pariatur reprehenderit labore explicabo optio eligendi perferendis delenit
            p.about   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id accusantium in distinctio cum est placeat consectetur nam sed libero, natus debitis impedit numquam, earum quibusdam officiis quae. Earum, ab expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, ea modi fugit commodi debitis cupiditate porro odio, iste dolore dolor velit voluptatem saepe reprehenderit qui ad praesentium nisi, repellat eos?
            p.about   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id accusantium in distinctio cum est placeat consectetur nam sed libero, natus debitis impedit numquam, earum quibusdam officiis quae. Earum, ab expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, ea modi fugit commodi debitis cupiditate porro odio, iste dolore dolor velit voluptatem saepe reprehenderit qui ad praesentium nisi, repellat eos?     

            